{% extends "layout.html" %}
{% block content %}
	<section ><!--form-->

<div class="row">
    <div class="col-md-4 col-md-offset-4">





                            <div class="login-form"><!--login form-->
                                <h2>Create Product</h2>
                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    {{ form }}

                                    <button style="float:right;" type="submit" class="btn btn-default">Create Product</button>
                                </form>
                            </div><!--/login form-->
                        </div>


                        <br><br>
                        {% if error %}
                            <div class="alert alert-danger">
                                 All fields must be filled!
                            </div>
                        {% endif %}
                    </div>
		        </div>
            </div>
        </div>
	</section><!--/form-->
{% endblock %}

