{% extends "layout.html" %}
{% block content %}
	<section ><!--form-->

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-form"><!--login form-->
                <h2>Create Product</h2>
                <form method="POST" action=".">
                    {% csrf_token %}

                    {{ form}}
                    <br><br>


                    <button style="float:right;" type="submit" class="btn btn-default">Create Product</button>
                </form>
            </div>
        </div>

        </div>
	</section>
{% endblock %}

