{% extends "layout.html" %}
{% block content %}
	<section ><!--form-->

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-form"><!--login form-->
                <h2>Create Product</h2>
                <form method="POST" action=".">
                    {% csrf_token %}

                    {{ form}}
                    <br><br>


                    <button style="float:right;" type="submit" class="btn btn-default">Create Product</button>
                </form>
            </div>
        </div>

        </div>
	</section>

                            <label>Description</label>

                            <textarea  name="description" rows="4" cols="50" maxlength="300" placeholder="Description">
                            </textarea>

                              <br><br>

                            <label>Promotion</label>

                            <br>
                                <select style="width:40%; display: inline;" name="promo">
                                  {% for p in promotion %}
                                      <option value="{{ p.id}}">{{ p.name }}</option>
                                  {% endfor %}
                                </select>
                            <br>
                            <a href="{% url 'createPromotion' %}" > Create Another Promotion </a>
                            <label class="checkbox">
                                <span class="checkmark" style="margin-left: 20px;">Stock</span>
                                 <input type="checkbox" style="width: 20px; height: 20px; display: inline;" name="stock" >
                            </label>
                            <button style="float:right;" type="submit" class="btn btn-default">Create Product</button>
						</form>
					</div><!--/login form-->
				</div>
                <br><br>
                {% if error %}
                    <div class="alert alert-danger">
                         All fields must be filled!
                    </div>
                {% endif %}
		</div>
{% endblock %}

