{% extends "layout.html" %}
{% block content %}



<
	<section id="form"><!--form-->
				<div class="col-sm-4 col-sm-offset-1" style="margin-left: 35%; margin-right: auto;">
					<div class="login-form"><!--login form-->
						<h2>Create Promotion</h2>
					    <form method="POST" action="">
						    {% csrf_token %}
                            {{ form }}
                            <button style="float:right;" type="submit" class="btn btn-default">Create Promotion</button>
						</form>
					    </div><!--/login form-->
                <br><br>

				</div>
		</div>
	</section>
{% endblock %}


