{% extends "layout.html" %}

{% block content %}
    <br><br>
    <!--SEARCH-->


        <div class="col-sm-10">
        <div style="float:right" class="search_box pull-right">
            <form method="POST" action="">
                {% csrf_token %}
                <input name="searchShop"  style="height:30px" type="text" placeholder="Search"/>
                <button style="height:30px"  type="submit" class="search_box pull-right">Search</button>
            </form>
        </div>
        </div>






	<section id="advertisement">
		<div class="container">
			<img src="" alt="" />
		</div>
	</section>





	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category ({{ totalCategories }})</h2>
						<div class="panel-group category-products" id="accordian">


                    <form method="POST" action="" >

                        {% for category, prodBrands in productsFilter.items %}

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{ category }}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            {{ category }}

										</a>
									</h4>
								</div>


								<div id="{{ category }}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
                                            {%  for prodBrand in prodBrands %}
                                                {% csrf_token %}
											<li>  {{ prodBrand }} <input type="checkbox" name="brands" value="{{ prodBrand }}"> </li>


										    {% endfor %}
										</ul>
									</div>
								</div>
							</div>
                         {% endfor %}


                        <button name="brands" style="float:right" type="submit" class="badge pull-right">Search</button>
                    </form>














						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands ({{ totalBrands }})</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
                                    {% for brand, brandTotal in brands.items %}
									<li><a href=""> <span class="pull-right">({{ brandTotal }})</span>{{ brand }}</a></li>
                                    {%  endfor %}


								</ul>
							</div>
						</div><!--/brands_products-->


						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b>$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
						<div class="shipping text-center"><!--shipping-->
							<img src="" alt="" />
						</div><!--/shipping-->

					</div>
				</div>



        {% if productsSearch_ %}
    				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>


                        {%  for product_ in productsSearch_ %}
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ product_.image }}" alt="" />
                                            <h2>{{ product_.price }} </h2>
                                            <p>{{ product_.name }}</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>{{ product_.price }}</h2>
                                                <p>{{ product_.name }}</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

					</div><!--features_items-->
				</div>
			</div>
		</div>

        {% endif %}







					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>

{% endblock %}
