{% extends "layout.html" %}

{% block content %}
    <br><br>
        <!--SEARCH BAR-->
        <div class="col-sm-10">
        <div style="float:right; margin-right: 200px" class="search_box pull-right ">
        <form action="." method="POST">
                {% csrf_token %}
                <input name="searchBar"  style="height:30px" type="search" placeholder="Search"/>
                <button style="height:30px"  type="submit" class="search_box pull-right">Search</button>
        </form>
        </div>
        </div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category ({{ totalCategories }})</h2>
						<div class="panel-group category-products" id="accordian">

                  <!--CATEGORY AND PRODUCT BRANDS-->
                    <form method="POST" action="" >
                        {% for category, prodBrands in productsFilter.items %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{ category }}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            {{ category }}
										</a>
									</h4>
								</div>
								<div id="{{ category }}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
                                            {%  for prodBrand in prodBrands %}
                                                {% csrf_token %}
											<li>  <input style="margin-right: 10px" type="checkbox" name="brandsCategories" value="{{ prodBrand }}">{{ prodBrand }}  </li>
										    {% endfor %}
										</ul>
									</div>
								</div>
							</div>
                         {% endfor %}
                        <button name="brandsCategories" style="float:right" type="submit" class="badge pull-right">Search</button>
                    </form>
                    </div>

                    <!--BRANDS AND TOTAL BRANDS-->
                    <div class="panel-group category-products">
                        <h2>Brands ({{ totalBrands }})</h2>
                        <form action="." method="POST">
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    {% for brand, brandTotal in brands.items %}
                                    {% csrf_token %}
                                         <li><a href="" > <input type="checkbox" name="brandsProducts" value="{{ brand }}">  <span class="pull-right">({{ brandTotal }})</span>{{ brand }}</a></li>
                                    {%  endfor %}
                                     <button name="brandsProducts" style="float:right" type="submit" class="badge pull-right">Search</button>
                                </ul>
                            </div>
                        </form>
                    </div>
                        <!--Price Range-->
                       <div class="panel-group category-products">
                            <h2>Price Range</h2>
                                <form method="POST" action="." >
                                    {% csrf_token %}
                                    <input  style=" margin-left: 20px; "name="minPrice" type="number" min="0" max="9990.99" step="0.50" placeholder="Min" /> ---
                                    <input name="maxPrice" type="number" min="50" max="10000" step="0.50" placeholder="Max"  />
                                    <br>
                                    <button name="priceRange" style="position:absolute; margin-left: 200px; margin-top: 6px" type="submit" class="badge pull-right">Search</button>
                                </form>

						</div>

					</div>
				</div>

                <!--SHOW PRODUCTS-->
				<div class="col-sm-9 padding-right">
					<div class="features_items">
						<h2 class="title text-center">Features Items</h2>
                        {%  for product in productsList %}

                            <div class="col-sm-4">
                            <a href="/details/{{ product.id }}" >
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="../{{product.image}}" alt="" />
                                            <h2>{{ product.price }} </h2>
                                            <p>{{ product.name }}</p>

                                            {% if product.promotion is not None %}
                                                 <div  style=" text-align: center; position: absolute; left:205px; top:10px; font-size: 20px "> <strong style="color:red"> -{{ product.promotion.name }}</strong></div>
                                             {% endif %}


                                        </div>

                                        <div class="product-overlay" style="background-color: #2a6496">
                                            <div class="overlay-content">
                                                {% if product.promotion %}
                                                    <h2 style="text-decoration: line-through">{{ product.price }} €</h2>
                                                    <h2>{{ product.promotionPrice }} €</h2>
                                                {% else %}
                                                     <h2 >{{ product.price }} €</h2>
                                                {% endif %}

                                                <p>{{ product.name }}</p>
                                                {% if product.quantity != 0 %}
                                                    <a class="btn btn-default add-to-cart" href="/addToCart/{{ product.id }}" type="submit" ><i class="fa fa-shopping-cart">Add To Cart</i></a>
                                                {% elif product.quantity == 0 %}
                                                    <a class="btn btn-default add-to-cart disabled" href="" type="submit" >Not In Stock</a>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                            </div>

                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
